[Unit]
Description=Button Control Service (via button-driver)

Requires=sound-controller.service
After=sound-controller.service
PartOf=sound-stack.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/home/reekroo/peripheral_scripts/.venv_peripherals/bin/button-service

User=root
Group=root

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=sound-stack.target