[Unit]
Description=Button Control Script (WiFi Toggle and Reboot)
Requires=sound-controller.service
After=sound-controller.service
PartOf=sound-stack.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 /home/reekroo/scripts/buttons/button_controller.py
WorkingDirectory=/home/reekroo/scripts
User=root
Group=root
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=sound-stack.target