[Unit]
Description=Raspberry Pi System Metrics Exporter for Prometheus
After=network.target

[Service]
ExecStart=/home/reekroo/metrics_exporter/.venv/bin/python3 -m src.main
WorkingDirectory=/home/reekroo/metrics_exporter

User=root
Group=root

Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target