[Unit]
Description=OLED Status Display Service

After=network-online.target

[Service]
ExecStart=/home/reekroo/scripts/.venv_peripherals/bin/oled-controller
ExecStop=/home/reekroo/scripts/.venv_peripherals/bin/oled-clear-controller

User=root
Group=root

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target