[Unit]
Description=Play Shutdown Sound

Requires=sound-controller.service
After=sound-controller.service
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/home/reekroo/scripts/.venv_peripherals/bin/sound-shutdown-controller

User=root
Group=root

[Install]
WantedBy=halt.target reboot.target shutdown.target