[Unit]
Description=Play Boot Sound

After=sound-controller.service
Requires=sound-controller.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 3
ExecStart=/home/reekroo/peripheral_scripts/.venv_peripherals/bin/sound-boot-controller

User=root
Group=root

[Install]
WantedBy=sound-stack.target
