[Unit]
Description=Central Buzzer Sound Service

After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/reekroo/scripts/.venv_peripherals/bin/sound-controller

User=root
Group=root

Restart=on-failure
RestartSec=5

[Install]
WantedBy=sound-stack.target
