[Unit]
Description=Weather Monitor Service

After=network-online.target

[Service]
ExecStart=/home/reekroo/weather_monitor/.venv_weather_monitor/bin/weather-monitor

User=root
Group=root

Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
