[Unit]
Description=Auto-disable Wi-Fi if LAN is connected

After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/reekroo/peripheral_scripts/.venv_peripherals/bin/network-policy-apply

[Install]
WantedBy=multi-user.target