[Unit]
Description=Button Control Script (WiFi Toggle and Reboot)
After=network.target
After=boot-sound.service

[Service]
Type=simple

ExecStart=/usr/bin/python3 /home/reekroo/scripts/buttons/button_controller.py

WorkingDirectory=/home/reekroo/scripts

User=root
Group=root

StandardOutput=inherit
StandardError=inherit

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target