[Unit]
Description=Earthquake Monitor Service
After=sound-controller.service
Requires=sound-controller.service

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /home/reekroo/earthquake_monitor/main.py
WorkingDirectory=/home/reekroo/earthquake_monitor
User=root
Group=root
Restart=always
RestartSec=20

[Install]
WantedBy=sound-stack.target
