[Unit]
Description=Central Buzzer Sound Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

ExecStart=/usr/bin/python3 /home/reekroo/scripts/sounds/sound_controller.py
WorkingDirectory=/home/reekroo/scripts

User=root
Group=root

Restart=on-failure
RestartSec=5

[Install]
WantedBy=sound-stack.target
