[Unit]
Description=Play Shutdown Sound
DefaultDependencies=no
Wants=sound-controller.service
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/reekroo/scripts/sounds/tools/shutdown_sound.py
WorkingDirectory=/home/reekroo/scripts
User=root
Group=root

[Install]
WantedBy=shutdown.target reboot.target halt.target